<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdea.email.EmailDAO"> <!--이 sql 문장과 매핑될 인터페이스의 완전한 경로-->
    
    <insert id="insert" parameterType="org.kdea.email.EmailVO">
	INSERT into userinfo (id,pwd,email,enabled,authority) VALUES (#{id},#{pwd},#{email},#{enabled},#{authority})
    </insert>
	<select id="idcheck" resultType="integer">
	SELECT count(*) FROM userinfo where id = #{checkid}
	</select>
</mapper>